*{
    padding: 0px;
    margin: 0px;
}
.grid{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.grid-cell-1,
.grid-cell-2,
.grid-cell-3,
.grid-cell-4,
.grid-cell-5
{
    flex-shrink: 1;
}
.grid-cell-1{
    flex-grow: 1;
}
.grid-cell-2{
    flex-grow: 2;
}
.grid-cell-3{
    flex-grow: 3;
}
.grid-cell-4{
    flex-grow: 4;
}
.grid-cell-5{
    flex-grow: 5;
}
/* 第二种布局 */
.grid2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.grid2-cell-1,
.grid2-cell-2,
.grid2-cell-3,
.grid2-cell-4,
.grid2-cell-5,
.grid2-cell-6,
.grid2-cell-7,
.grid2-cell-8,
.grid2-cell-9,
.grid2-cell-10,
.grid2-cell-11,
.grid2-cell-12
{
    flex-shrink: 1;
}
.grid2-cell-1{
    flex-grow: 1;
}
.grid2-cell-2{
    flex-grow: 2;
}
.grid2-cell-3{
    flex-grow: 3;
}
.grid2-cell-4{
    flex-grow: 4;
}
.grid2-cell-5{
    flex-grow: 5;
}
.grid2-cell-6{
    flex-grow: 6;
}
.grid2-cell-7{
    flex-grow: 7;
}
.grid2-cell-8{
    flex-grow: 8;
}
.grid2-cell-9{
    flex-grow: 9;
}
.grid2-cell-10{
    flex-grow: 10;
}
.grid2-cell-11{
    flex-grow: 11;
}
.grid2-cell-12{
    flex-grow: 12;
}

.grid3 {
	/*设置弹性布局容器*/
	display: flex;
	flex-wrap: nowrap;
    justify-content: space-around;
    overflow: hidden;
}

/* 第三种布局 */
.grid3-cell-1,
.grid3-cell-2,
.grid3-cell-3,
.grid3-cell-4,
.grid3-cell-5,
.grid3-cell-6 {
	flex-shrink: 1;
}

.grid3-cell-1 {
	flex-grow: 1;
}

.grid3-cell-2 {
	flex-grow: 2;
}

.grid3-cell-3 {
	flex-grow: 3;
}

.grid3-cell-4 {
	flex-grow: 4;
}

.grid3-cell-5 {
	flex-grow: 5;
}

.grid3-cell-6 {
	flex-grow: 6;
}
/*水红色背景*/
.box-red {
	background-color: #FF00FF;
	min-height: 50px;
	text-align: center;
	width: 100%;
	line-height: 50px;
}
/*绿色背景*/
.box-green {
	background-color: #41f9a0;
	min-height: 50px;
	text-align: center;
	width: 100%;
	line-height: 50px;
}